body { font-family: Arial, sans-serif; background: #f5f5f5; }

#header {
    display: grid;
    place-content: center;
    height: 100vh;
}

#header a {
    width: fit-content;
}

#begin-button {
    display: grid;
    place-content: center;
}